# Игнорируем папку node_modules
node_modules/

# Игнорируем временные файлы системы и редакторов
.DS_Store
Thumbs.db
*.log
*.tmp

# Игнорируем папки сгенерированных отчётов, скриншотов и видео
cypress/reports/
cypress/screenshots/
cypress/videos/

# Игнорируем файлы конфигурации, содержащие локальные настройки
cypress.env.json

# Игнорируем результаты тестов
results.json
*.mochawesome.json

# Игнорируем временные файлы IDE
.idea/
.vscode/

# Игнорируем файлы окружения
.env
